*
{
padding: 0;
margin: 0;
font-family: "Anek Latin", serif;

}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(3, 136, 143);
display: flex;
justify-content: center;
align-items: center;
}

.content{

width: 350px;
padding: 25px;
border-radius: 30px;
border: 2px solid black;
text-align: center;
}

.content input{
    width: 250px;
    padding: 15px;
    border: 3px solid black;
    border-radius: 10px;
    margin: 10px;

}




.content button{
    width: 120px;
    padding: 15px;
    border: 3px solid black;
    border-radius: 10px;
    margin: 10px;

}